---
layout: "blog-classic-base.njk"
---
<div id="navbar">
  <a class="box-shadow nav-boxes" href="/blogs"><-</a>
  <span class="box-shadow left-space nav-boxes-non-button"><b>{{ title }}</b></span>
  <span class="box-shadow left-space nav-boxes-non-button">Posted on {{ page.date | postDate }}</span>
</div>
{{ content | safe }}
<footer>
<div id="navbar">
  <a class="box-shadow nav-boxes" href="/blogs"><-</a>
  <span class="box-shadow left-space nav-boxes-non-button"></span>
</div>
</footer>
