---
layout: "index-base.njk"
---
<nav>
    [<a href="/">home</a> /
    <a href="/about">about</a> /
    <a href="/blogs">blogs</a> /
    <a href="/gallery">gallery</a> /
    <a href="https://www.youtube.com/@figamin">youtube</a>]
</nav>
{{ content | safe }}