@import url(fonts.css);
:root {
    --background-color: #1d1f21;
    /*--input-color: #282a2e;*/
    --reply-color: #242629;
    --reply-border-color: #848484;
    --input-border-color: #111;
    --text-color: #c5c8c6;
    --link-color: #9ab9f2;
    --link-hover-color: #81a2be;
    --subject-color: #ed7db6;
    --name-color: #7fedb5;
    --capcode-color: #ff8a8a;
    --sauce-color: #ffadff;
    --wapchan-yellow: #fffe00;
}
body {
    background: url("wallpattern-simple.png");
    color: black;
    font-family: "Sazanami Gothic";
    font-size: 70%;
}
#siteLogo {
  width: 213px;
  height: auto;
  image-rendering: pixelated;
}
#main-body {
    flex-direction: column;
    text-align: center;
}
.nav-parent {
  position: absolute;
  box-shadow: .25em .25em black;
}
.nav-boxes {
  border-top: 1px solid black;
  border-left: 1px solid black;
  border-right: 1px solid black;
  background: rgb(255,113,184);
background: linear-gradient(0deg, rgba(255,113,184,1) 0%, rgba(255,176,187,1) 10%, rgba(255,226,230,1) 30%, rgba(255,255,255,1) 100%);
width: 7em;
height: 2em;
text-align: center;
display: flex;
align-items: center;
justify-content: center;
}
.message-box {
  border: 1px solid black;
  height: 8em;
  width: 20em;
  margin-left: 8em;
  background: white;
  box-shadow: .25em .25em black;
  text-align: left;
  display: flex;
}
.news-box {
  border: 1px solid black;
  height: 6.85em;
  width: 20em;
  margin-left: 8em;
  background: white;
  box-shadow: .25em .25em black;
  text-align: left;
  display: flex;
  margin-top: 5px;
}
.news-tag {
background: white;
margin-top: .45em;
margin-left: 8em;
border: 1px solid black;
border-bottom: 1px solid black;
padding-left: .5em;
padding-right: .5em;
height: 1.5em;
text-align: center;
display: flex;
align-items: center;
justify-content: center;
position: absolute;
}
.message-text {
  padding-right: 1em;
  padding-left: 1em;
}
.news-text {
  padding-right: 1em;
  padding-left: 1em;
  padding-top: 1em;
}
#counter-box {
  height: 5em;
  flex-direction: column;
  border-bottom: 1px solid black;
}
a {
    color: black;
    text-decoration: none;
}
a:hover {
	color: var(--link-hover-color);
}
