a {
  text-decoration: none;
}
body {
  background: url("wallpattern-simple.png");
  font-size: 16pt;
  box-sizing: border-box;
}
#main-holder {
  width: 85%;
  margin-left: 1%;
  margin-right: 1%;
  
}
main {
  border: 1px solid black;
  background-color: white;
  height: 80%;
  box-sizing: border-box;
}
#main-buttons {
  border: 1px solid black;
  background-color: white;
  height: 15%;
  box-sizing: border-box;
}
ul {
  list-style-type: none;
}
#update-holder {
  width: 15%;
  display: flex;
  flex-direction: column;
}
#update-logo {
  background: linear-gradient(0deg, rgba(255,113,184,1) 0%, rgba(255,176,187,1) 10%, rgba(255,226,230,1) 30%, rgba(255,255,255,1) 100%);
  border: 1px solid black;
  height: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.bars {
  height: 5%;
  border-left: 5px solid black;
  border-right: 5px solid black;
  margin-left: 4rem;
  margin-right: 4rem;
  
}
#update-box {
  background-color: white;
  border: 1px solid black;
  height: 85%;
}
#update-box-text {
  font-size: .9em;
  margin: 1rem;
}
#header {
  display: flex;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
#content {
  max-width: 80%;
  margin: 0 auto;
}
#header-logo {
  max-width: 20%;
  height: auto;
}
#header-quote {
  margin-left: 1rem;
}
#footer {
  text-align: center;
}
#general {
  display: flex;
  flex-direction: row;
}
#sidebar {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  background: black;
}
.sidebar-box {
  text-align: center;
  padding: 1rem;
  border: 1px solid black;
  margin: 1rem;
  background: linear-gradient(0deg, rgba(255,113,184,1) 0%, rgba(255,176,187,1) 10%, rgba(255,226,230,1) 30%, rgba(255,255,255,1) 100%);
}
#main-text {
  margin: 1rem;
}