---
layout: blog-classic-base.njk
title: Blogs
---
<div id="navbar">
  <a class="box-shadow nav-boxes" href="/"><-</a>
  <span class="box-shadow left-space nav-boxes-non-button"><b>Blogs</b></span>
</div>
<div class="message-box">
  <p class="message-text">Welcome to the blogs page. Nothing too special here, just writeups on stuff I'm interested in.</p>
</div>
<div class="blog-entries">
  {%- for post in collections.blog | reverse -%}
  <div class="blog-row">
    <span class="box-shadow nav-boxes-non-button">{{ post.date | postDate }}:</span><a class="box-shadow left-space nav-boxes" href="{{ post.url }}">{{ post.data.title }}</a>
  </div>
  {%- endfor -%} 
</div>