---
layout: figzone-base.njk
title: FigZone - We're Back
---
<div class="centered-container">
    <img src="/static/figzone.jpg" alt="" eleventy:ignore>
    <h1>FigZone</h1>
    <h3>We're a TF2 sourcemod community founded in 2020 and revived in 2025!</h3>
    <p>We try to have a varied mapcycle and keep things relaxed.</p>
    <a href="https://discord.gg/hJsMRxAcdk"><h1>Join the Discord!</h1></a>
    <a href="https://fort.figamin.net:3124/mapcycle.txt"><h4>View the Mapcycle</h4></a>
    <a href="https://fort.figamin.net:3124/"><h4>Download Maps</h4></a>
</div>