---
layout: navbar.njk
title: figamin.net
---
    <div id="welcome">
        <pre>
    ___
   /
  /___  .  ___   ___            .  ___      ___   ___  _/_
 /     /  /  /  /  /   /| /|   /  /  /     /  /  /__/  /
/     /  /__/  /__/\  / |/ |  /  /  /  .  /  /  /__   /
           /
        __/
        </pre>
        <br>
        <p>welcome to my place. i'm a developer, old stuff enthusiast, #1 ran-chan fan, and quite a few other things. i hope to flesh out this site (soon)</p><br>
        <ul>
           <li><a href="/blog">blog</a></li>
        </ul>
    </div>



