---
layout: base.njk
title: figamin.net
---
<div class="index-top-bar">
    <img id="siteLogo" src="/static/images/sitelogo.svg" alt="figamin.net" eleventy:ignore>
    <!--<div class="index-quote-box"><p>Miracles don't happen.</p></div>-->
</div>
    <div id="main-body">
        <nav class="nav-parent">
            <a class="nav-boxes" href="/about">about</a>
            <a class="nav-boxes" href="/blogs">blogs</a>
            <a class="nav-boxes" href="/projects">projects</a>
            <a class="nav-boxes" href="/videos">videos</a>
            <a class="nav-boxes" href="/net-friends">net friends</a>
            <div id="counter-box" class="nav-boxes index-side-bottom-box"><span style="vertical-align: middle;">you are visitor #</span><!-- FC2カウンター ここから -->
<script language="javascript" type="text/javascript" src="//counter1.fc2.com/counter.php?id=40460552&main=1"></script><noscript><img src="//counter1.fc2.com/counter_img.php?id=40460552&main=1"  alt=":figamin-net-counter" eleventy:ignore//></noscript>
<!-- FC2カウンター ここまで --></div>
        </nav>
        <div class="message-box">
            <p class="message-text">Hello! I'm figamin. Been relatively active in both the retro anime & visual novel scenes recently. This is a place to find my writeups about stuff that I think is neat.</p>
        </div>
        <div class="news-tag">News - 7/9/25</div>
        <div class="news-box">
            <p class="news-text">Changed the counter design and added an about page
            </p>
        </div>
        <!--<div class="index-news-box-title">
            <p>News:</p>
        </div>
        <div class="index-news-box-content">
            <p>example news</p>
        </div>-->
        
        
    </div>



