---
layout: blog-classic-base.njk
title: Net Friends
---
<div id="navbar">
  <a class="box-shadow nav-boxes" href="/"><-</a>
  <span class="box-shadow left-space nav-boxes-non-button"><b>Net Friends</b></span>
</div>
<div class="message-box">
  <p class="message-text">Here's a list of cool people and places I've found on the net.</p>
</div>
<div class="blog-entries" style="display: inline-block">
  <div class="blog-row">
    <a class="box-shadow nav-boxes" href="https://syrno.net/">Syrno.net</a>
    <span class="box-shadow left-space nav-boxes-non-button">Fellow IB admin and all around cool dude</span>
  </div>
  <div class="blog-row">
    <a class="box-shadow nav-boxes" href="https://lainnet.arcesia.net/">LainNet (spaztron64)</a>
    <span class="box-shadow left-space nav-boxes-non-button">PC-98 enthusiast</span>
  </div>
  <div class="blog-row">
    <a class="box-shadow nav-boxes" href="https://x.com/enapro_circle">同人サークル「ena imageboards」</a>
    <span class="box-shadow left-space nav-boxes-non-button">Independent, global doujin circle</span>
  </div>
  <div class="blog-row">
    <a class="box-shadow nav-boxes" href="https://eien.nl/">eien</a>
    <span class="box-shadow left-space nav-boxes-non-button" style="font-size: 80%">Community-driven collaboration porting & translating novel games</span>
  </div>
</div>