---
layout: blog-classic-base.njk
title: Socials
---
<div id="navbar">
  <a class="box-shadow nav-boxes" href="/"><-</a>
  <span class="box-shadow left-space nav-boxes-non-button"><b>Socials</b></span>
</div>
