---
layout: blog-classic-base.njk
title: Socials
---
<div id="navbar">
  <a class="box-shadow nav-boxes" href="/"><-</a>
  <span class="box-shadow left-space nav-boxes-non-button"><b>Socials</b></span>
</div>
<div class="message-box">
  <p class="message-text">Here's some places you can find me online:</p>
</div>
<div class="blog-entries" style="display: inline-block">
<a class="box-shadow nav-boxes" href="https://x.com/figamin">Twitter</a>
<a class="box-shadow nav-boxes box-top-margin" href="https://steamcommunity.com/id/figamin">Steam</a>
<a class="box-shadow nav-boxes box-top-margin" href="https://vndb.org/u268755/ulist?vnlist=1">VNDB</a>
</div>